<div class="grey-background">
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="logo" src="assets/img/logo.svg"></a>
      <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" [ngClass]="selected=='dashboard'?'selected':''" routerLink="dashboard" (click)="change('dashboard')">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" [ngClass]="selected=='diario'?'selected':''" routerLink="diario" (click)="change('diario')">Diario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" [ngClass]="selected=='allenamento'?'selected':''" routerLink="allenamento" (click)="change('allenamento')">Allenamento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" [ngClass]="selected=='profilo'?'selected':''" routerLink="profilo" (click)="change('profilo')">Profilo</a>
          </li>
        </ul>
        <button type="button" class="btn btn-outline-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>
  <div class="container white-content">
    <div class="w-100">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
