<div class = "container">
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card text-center">
        <h5 class="card-header">Energia</h5>
        <div class="card-body">
          <app-calorie-chart *ngIf="pianoLoaded && obiettivoEnergia" [valoreAttuale]="energia" [valoreFinale]="obiettivoEnergia"></app-calorie-chart>
          <div *ngIf="pianoLoaded && !obiettivoEnergia" class="alert alert-light" role="alert">Chiedi al nutrizionista di assegnarti un piano!</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <h5 class="card-header">Macronutrienti</h5>
        <div class="card-body">
          <app-macro-chart *ngIf="pianoLoaded && obiettivi" [valoriAttuali]="macroAttuali" [valoriFinali]="obiettivi"></app-macro-chart>
          <div *ngIf="pianoLoaded && !obiettivi" class="alert alert-light" role="alert">Chiedi al nutrizionista di assegnarti un piano!</div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="card text-center">
    <h5 class="card-header">Storico pesi</h5>
    <div class="card-body" *ngIf="valoriPesi && datePesi">
      <app-line-chart *ngIf="valoriPesi.length > 0 && datePesi.length > 0" [values]="valoriPesi" [name]='"Peso"' [labels]="datePesi"></app-line-chart>
      <div *ngIf="valoriPesi.length == 0 || datePesi.length == 0" class="alert alert-light" role="alert">Non hai ancora inserito un peso!</div>
    </div>
  </div>
  <br />
  <div class="card text-center">
    <h5 class="card-header">Storico passi</h5>
    <div class="card-body" *ngIf="valoriPassi && datePassi">
      <app-line-chart *ngIf="valoriPassi.length > 0 && datePassi.length > 0" [values]="valoriPassi" [name]='"Passi"' [labels]="datePassi"></app-line-chart>
      <div *ngIf="valoriPassi.length == 0 || datePassi.length == 0" class="alert alert-light" role="alert">Non hai ancora inserito dei passi!</div>
    </div>
  </div>
</div>
